@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

html {
	height: 100%;
}

body {
	height: 100%;
    background-image: url('../resources/background.png');
    background-color: #FFFFFF;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

body.row {
    margin-right: 0px;
    margin-left: 0px;
}

p {
	margin-bottom: 0% !important;
}

.highlight {
    color: #024157;
}

#center-space {
    background-color: transparent;
    margin-left: 0px; 
    margin-right: 0px
}

#titulo {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 62px;
    color: #024157;
}

#subtitulo {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #024157;
}

#subtitulo-sm {
	font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #242424;
}

#center-space { 
	margin-top: 1rem;
}

#top-card {
	margin-left: 0%;
	margin-right: 0%;
}

#middle-card {
	margin-right: 0% !important;
    margin-left: 0% !important;
    background: #FFFFFF;
    border: 2px solid rgba(2, 65, 87, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

#paragraph {
    text-align: right; 
    margin-bottom: 0px;
    padding: 5%;
    padding-bottom: 0%;
}

#inputText {
    color: #000000; 
    font-family: 'Karla', sans-serif;
    font-size: 1.4rem
}

#imgFooter {
    display: none !important;
}

#scrollMenu {
	overflow-y: scroll; 
	height:500px;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #3a3a3a;
}

.button {
    display: inline-block;
    border: none;
    border-radius: 30px;
    background-color: #024157;
    color: #FFFFFF;
    text-align: center;
    padding: 15px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-bottom: 4% !important;

    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  
@media screen and (max-width: 768px) {
    #imgHeader {
        display: none;
    }
	
	#imgFooter {
        display: flex !important;
    }
}

@media screen and (max-width: 480px) {	
	#center-space { 
		height: 100%;
		padding-top: 8%;
		display: block !important;
	}
	
	#card {
		padding-left: 0px;
		padding-right: 0px;
	}
	
	#paragraph {
		font-size: 0.95rem;
	}
	
	#left-space {
		display: none;
	}
}